*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-Dark_cyan: hsl(158, 36%, 37%);
  --primary-Cream: hsl(30, 38%, 92%);
  --neutral-Very_dark_blue: hsl(212, 21%, 14%);
  --neutral-Dark_grayish_blue: hsl(228, 12%, 48%);
  --neutral-White: hsl(0, 0%, 100%);
  --typeface-mont: 'Montserrat';
  --typeface-franc: 'Fraunces';
}

body {
  background: var(--primary-Cream);
  width: 100%;

}
 .container {
  padding: 30px 20px;
  width: 100%;
  max-width: 380px;
}

.flex-oriented {
  display: flex;
  flex-direction: column;
}
img {
  width: 100%;
  height: 270px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  object-position: center;
}
.product-description {
  margin-top: -5px;
  padding: 25px;
  background: var(--neutral-White);
  border-radius: 0 0 10px 10px;
  gap: 20px;
  max-height: 600px;
}
.description {
  gap: 10px;
}

h3 {
  font-family: var(--typeface-mont);
  font-size: 15px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: var(--neutral-Dark_grayish_blue);
}

h2 {
  font-family: var(--typeface-franc);
  font-size: 2rem;
  color: var(--neutral-Very_dark_blue);
  font-weight: 700;
}

p {
  font-size: .9375rem;
  font-family: var(--typeface-mont);
  line-height: 1.6;
  color: var(--neutral-Dark_grayish_blue);
  font-weight: 500;
}

.pricing {
  display: flex;
  align-items: center;
  gap: 20px;
}

h1 {
  font-family: 'Fraunces';
  color: var(--primary-Dark_cyan);
}

h5 {
  font-size: 14px;
  font-family: 'Montserrat';
  color: var(--neutral-Dark_grayish_blue);
  text-decoration: line-through;
}

button {
  padding: 14px 16px;
  background: var(--primary-Dark_cyan);
  color: var(--neutral-White);
  font-family: 'Montserrat';
  font-size: .875rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color .125s;
}

button:active {
  background-color: hsl(158, 92%, 10%);
}

button i {
  font-size: .875rem;
  color: #fafaf9;
  margin-right: 10px;
} 

 @media (min-width: 720px) {
  .flex-default {
    display: flex;
    flex-direction: row;
  }
  .container {
    padding: 0;
    max-width: 530px;
    margin: 100px auto;
    height: 455px;
  }
  img {
    width: 260px;
    height: 455px;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
    object-position: unset;
  }
  .product-description {
    margin-top: 0;
    padding: 20px;
    background: var(--neutral-White);
    border-radius: 0 10px 10px 0;
    max-height: 600px;
  }

 }